html, body {
    min-height: 100%;
    text-align: center;
    background-color: blue;
    background-size: cover;
    font-family: 'Yusei Magic', sans-serif;
}

.title {
  margin-top: 10px;
  color: white;
}

.subtitle {
  color: white;
}

button, input {
  font-family: 'Yusei Magic', sans-serif;
}

#blackBtn, #rainbowBtn, #eraseBtn, #clearBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 525px;
    height: 525px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

#squaresInput {
  width: 150px;
}

.grid-item {
  border: 1px solid #ddd;
  text-align: center;
  background-color: white;
}

@media (max-width: 600px ) {
  #container {
    width: 300px;
    height: 300px;
  }
}